.card-header {  
	border-radius: 20px; 
	background: #F0F8FF;
}  

.card-footer { 
	p { 
		color: red; 
	}
}  

.card-footer { 
   a { 
   		border-radius: 20px;
   }
} 

.card-body { 
	font-family: sans-serif;
} 


